# root dir's all files
/*.*

# image files in any dir
*.zip
*.gif
*.png
*.jpg
*.jpeg
tmp.*
*.map
desktop.ini
folderico*.ico
*.min.js
*.min.css
*.bak

# dirs
bl-backups/
bl-media (legacy)/
bl-media-library/
wp-admin/
wp-includes/
images/

# wp-content/ files and dirs except my theme
index.php
bl-responsive/
twenty*/

# wp backup plugin's backup download folder
updraft backup files/

# Grunt temporary files
all.js
*.css.map
*.long.css

# don't ignore myself :)
!.gitignore

# node-js and grunt related
node_modules/
