# root dir's all files
/*.*

# image files in any dir
*.zip
*.gif
*.png
*.jpg
*.jpeg

# dirs
bl-backups/
bl-media (legacy)/
bl-media-library/
wp-admin/
wp-includes/
images/

# wp-content/ files and dirs except my theme
index.php
bl-responsive/
twenty*/

# don't ignore myself :)
!.gitignore

# node-js and grunt related
node_modules/
