/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.white-logo {
  background-image: url(assets/images/sprites.png);
  background-position: 0px 0px;
  width: 600px;
  height: 600px;
}
.icb-urlcopy {
  background-image: url(assets/images/sprites.png);
  background-position: -650px 0px;
  width: 50px;
  height: 50px;
}
.icb-urlhomecopy {
  background-image: url(assets/images/sprites.png);
  background-position: -600px -50px;
  width: 50px;
  height: 50px;
}
.icg-bill {
  background-image: url(assets/images/sprites.png);
  background-position: -600px -100px;
  width: 50px;
  height: 50px;
}
.icg-bus {
  background-image: url(assets/images/sprites.png);
  background-position: -600px -150px;
  width: 50px;
  height: 50px;
}
.icg-calendar {
  background-image: url(assets/images/sprites.png);
  background-position: -600px -200px;
  width: 50px;
  height: 50px;
}
.icg-class {
  background-image: url(assets/images/sprites.png);
  background-position: -600px -250px;
  width: 50px;
  height: 50px;
}
.icg-enroll {
  background-image: url(assets/images/sprites.png);
  background-position: -600px -300px;
  width: 50px;
  height: 50px;
}
.icg-interview {
  background-image: url(assets/images/sprites.png);
  background-position: -600px -350px;
  width: 50px;
  height: 50px;
}
.icg-level {
  background-image: url(assets/images/sprites.png);
  background-position: -600px -400px;
  width: 50px;
  height: 50px;
}
.icg-passport {
  background-image: url(assets/images/sprites.png);
  background-position: -600px -450px;
  width: 50px;
  height: 50px;
}
.icg-travel {
  background-image: url(assets/images/sprites.png);
  background-position: -600px -500px;
  width: 50px;
  height: 50px;
}
.icon-blog {
  background-image: url(assets/images/sprites.png);
  background-position: -600px -550px;
  width: 50px;
  height: 50px;
}
.icon-call {
  background-image: url(assets/images/sprites.png);
  background-position: 0px -600px;
  width: 50px;
  height: 50px;
}
.icon-devel {
  background-image: url(assets/images/sprites.png);
  background-position: -50px -600px;
  width: 50px;
  height: 50px;
}
.icon-faq {
  background-image: url(assets/images/sprites.png);
  background-position: -100px -600px;
  width: 50px;
  height: 50px;
}
.icon-fb-box {
  background-image: url(assets/images/sprites.png);
  background-position: -150px -600px;
  width: 50px;
  height: 50px;
}
.icon-fb {
  background-image: url(assets/images/sprites.png);
  background-position: -200px -600px;
  width: 50px;
  height: 50px;
}
.icon-inside {
  background-image: url(assets/images/sprites.png);
  background-position: -250px -600px;
  width: 50px;
  height: 50px;
}
.icon-kakaolink {
  background-image: url(assets/images/sprites.png);
  background-position: -300px -600px;
  width: 50px;
  height: 50px;
}
.icon-map {
  background-image: url(assets/images/sprites.png);
  background-position: -350px -600px;
  width: 50px;
  height: 50px;
}
.icon-school {
  background-image: url(assets/images/sprites.png);
  background-position: -400px -600px;
  width: 50px;
  height: 50px;
}
.icon-share {
  background-image: url(assets/images/sprites.png);
  background-position: -450px -600px;
  width: 50px;
  height: 50px;
}
.icon-travel {
  background-image: url(assets/images/sprites.png);
  background-position: -500px -600px;
  width: 50px;
  height: 50px;
}
.icw-activity {
  background-image: url(assets/images/sprites.png);
  background-position: -550px -600px;
  width: 50px;
  height: 50px;
}
.icw-brain {
  background-image: url(assets/images/sprites.png);
  background-position: -600px -600px;
  width: 50px;
  height: 50px;
}
.icw-call {
  background-image: url(assets/images/sprites.png);
  background-position: -600px 0px;
  width: 50px;
  height: 50px;
}
.icw-class {
  background-image: url(assets/images/sprites.png);
  background-position: -650px -50px;
  width: 50px;
  height: 50px;
}
.icw-community {
  background-image: url(assets/images/sprites.png);
  background-position: -650px -100px;
  width: 50px;
  height: 50px;
}
.icw-confidence {
  background-image: url(assets/images/sprites.png);
  background-position: -650px -150px;
  width: 50px;
  height: 50px;
}
.icw-conversation {
  background-image: url(assets/images/sprites.png);
  background-position: -650px -200px;
  width: 50px;
  height: 50px;
}
.icw-culture {
  background-image: url(assets/images/sprites.png);
  background-position: -650px -250px;
  width: 50px;
  height: 50px;
}
.icw-grammar {
  background-image: url(assets/images/sprites.png);
  background-position: -650px -300px;
  width: 50px;
  height: 50px;
}
.icw-home {
  background-image: url(assets/images/sprites.png);
  background-position: -650px -350px;
  width: 50px;
  height: 50px;
}
.icw-map {
  background-image: url(assets/images/sprites.png);
  background-position: -650px -400px;
  width: 50px;
  height: 50px;
}
.icw-phonics {
  background-image: url(assets/images/sprites.png);
  background-position: -650px -450px;
  width: 50px;
  height: 50px;
}
.icw-question {
  background-image: url(assets/images/sprites.png);
  background-position: -650px -500px;
  width: 50px;
  height: 50px;
}
.icw-reading {
  background-image: url(assets/images/sprites.png);
  background-position: -650px -550px;
  width: 50px;
  height: 50px;
}
.icw-satellite {
  background-image: url(assets/images/sprites.png);
  background-position: -650px -600px;
  width: 50px;
  height: 50px;
}
.icw-school {
  background-image: url(assets/images/sprites.png);
  background-position: 0px -650px;
  width: 50px;
  height: 50px;
}
.icw-science {
  background-image: url(assets/images/sprites.png);
  background-position: -50px -650px;
  width: 50px;
  height: 50px;
}
.icw-sentence {
  background-image: url(assets/images/sprites.png);
  background-position: -100px -650px;
  width: 50px;
  height: 50px;
}
.icw-share {
  background-image: url(assets/images/sprites.png);
  background-position: -150px -650px;
  width: 50px;
  height: 50px;
}
.icw-teps {
  background-image: url(assets/images/sprites.png);
  background-position: -200px -650px;
  width: 50px;
  height: 50px;
}
.icw-themepark {
  background-image: url(assets/images/sprites.png);
  background-position: -250px -650px;
  width: 50px;
  height: 50px;
}
.icw-think {
  background-image: url(assets/images/sprites.png);
  background-position: -300px -650px;
  width: 50px;
  height: 50px;
}
.icw-toeic {
  background-image: url(assets/images/sprites.png);
  background-position: -350px -650px;
  width: 50px;
  height: 50px;
}
.icw-usa {
  background-image: url(assets/images/sprites.png);
  background-position: -400px -650px;
  width: 50px;
  height: 50px;
}
.icw-vocabulary {
  background-image: url(assets/images/sprites.png);
  background-position: -450px -650px;
  width: 50px;
  height: 50px;
}
.icw-writing {
  background-image: url(assets/images/sprites.png);
  background-position: -500px -650px;
  width: 50px;
  height: 50px;
}
.ul-bullet-blue {
  background-image: url(assets/images/sprites.png);
  background-position: -550px -650px;
  width: 14px;
  height: 14px;
}
.ul-bullet {
  background-image: url(assets/images/sprites.png);
  background-position: -564px -650px;
  width: 14px;
  height: 14px;
}
.ul-ul-bullet {
  background-image: url(assets/images/sprites.png);
  background-position: -578px -650px;
  width: 14px;
  height: 14px;
}
