/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.t-angela {
  background-image: url(assets/images/sprites-teachers.png);
  background-position: -90px 0px;
  width: 90px;
  height: 120px;
}
.t-bomi {
  background-image: url(assets/images/sprites-teachers.png);
  background-position: -270px -240px;
  width: 90px;
  height: 120px;
}
.t-david {
  background-image: url(assets/images/sprites-teachers.png);
  background-position: -180px 0px;
  width: 90px;
  height: 120px;
}
.t-dean {
  background-image: url(assets/images/sprites-teachers.png);
  background-position: 0px -120px;
  width: 90px;
  height: 120px;
}
.t-elena {
  background-image: url(assets/images/sprites-teachers.png);
  background-position: -90px -120px;
  width: 90px;
  height: 120px;
}
.t-elly {
  background-image: url(assets/images/sprites-teachers.png);
  background-position: -180px -120px;
  width: 90px;
  height: 120px;
}
.t-ethan {
  background-image: url(assets/images/sprites-teachers.png);
  background-position: -270px 0px;
  width: 90px;
  height: 120px;
}
.t-eunji {
  background-image: url(assets/images/sprites-teachers.png);
  background-position: -270px -120px;
  width: 90px;
  height: 120px;
}
.t-finn {
  background-image: url(assets/images/sprites-teachers.png);
  background-position: 0px -240px;
  width: 90px;
  height: 120px;
}
.t-irene {
  background-image: url(assets/images/sprites-teachers.png);
  background-position: -90px -240px;
  width: 90px;
  height: 120px;
}
.t-jamie {
  background-image: url(assets/images/sprites-teachers.png);
  background-position: -180px -240px;
  width: 90px;
  height: 120px;
}
.t-jessy {
  background-image: url(assets/images/sprites-teachers.png);
  background-position: 0px 0px;
  width: 90px;
  height: 120px;
}
.t-judy {
  background-image: url(assets/images/sprites-teachers.png);
  background-position: -360px 0px;
  width: 90px;
  height: 120px;
}
.t-julia {
  background-image: url(assets/images/sprites-teachers.png);
  background-position: -360px -120px;
  width: 90px;
  height: 120px;
}
.t-karim {
  background-image: url(assets/images/sprites-teachers.png);
  background-position: -360px -240px;
  width: 90px;
  height: 120px;
}
.t-peter {
  background-image: url(assets/images/sprites-teachers.png);
  background-position: -450px 0px;
  width: 90px;
  height: 120px;
}
.t-rachel {
  background-image: url(assets/images/sprites-teachers.png);
  background-position: -450px -120px;
  width: 90px;
  height: 120px;
}
.t-scarlett {
  background-image: url(assets/images/sprites-teachers.png);
  background-position: -450px -240px;
  width: 90px;
  height: 120px;
}
.t-semie {
  background-image: url(assets/images/sprites-teachers.png);
  background-position: 0px -360px;
  width: 90px;
  height: 120px;
}
.t-sheldon {
  background-image: url(assets/images/sprites-teachers.png);
  background-position: -90px -360px;
  width: 90px;
  height: 120px;
}
.t-stella {
  background-image: url(assets/images/sprites-teachers.png);
  background-position: -180px -360px;
  width: 90px;
  height: 120px;
}
.t-yoomi {
  background-image: url(assets/images/sprites-teachers.png);
  background-position: -270px -360px;
  width: 90px;
  height: 120px;
}
.t-yunah {
  background-image: url(assets/images/sprites-teachers.png);
  background-position: -360px -360px;
  width: 90px;
  height: 120px;
}
